@use "presets" as *;
@use "mixins" as *;

section {
  position: relative;

  overflow: hidden;
}

.main {
  margin-bottom: 80px;
}

.site-search {
  margin-bottom: $gap * 3;
}

.user-login {
  margin-bottom: $gap * 4;
}

.new-films,
.top-week {
  &-row {
    margin-right: -$gap-sm;
    margin-bottom: -$gap;
    margin-left: -$gap-sm;
  }

  &-item {
    margin-bottom: $gap;
    padding-right: $gap-sm;
    padding-left: $gap-sm;

    &__thumbnail {
      margin-bottom: 0;
    }

    &__title {
      display: block;
      overflow: hidden;

      margin: 0;

      text-align: center;
      white-space: nowrap;
      text-overflow: ellipsis;

      font-size: 1rem;
      font-weight: bold;
    }

    &__image {
      width: 100%;
    }
  }
}

.film-news {
  &-item {
    &__text {
      text-align: justify;
    }

    &__button {
      float: right;

      margin-bottom: $gap * 2;
    }
  }
}

.film-review-form {
  &__button {
    float: right;
  }
}
